---
title: Цены - Домашний детский сад "Долька"
layout: base
---

<div id="slider_wrapper">
<div id="slider" class="clearfix">
<img src="images/education.jpg" alt="" class="img">
</div>  
</div>

<div class="container">
<div class="row">
<div class="span12">
<div class="hl1"><img src="images/hl1.png" alt=""></div>  
</div>  
</div>  
</div>


<div id="content">
<div class="container">
<div class="row">
<div class="span8">

  <h1>Режим дня и занятия</h1>
    <div class="block-content">
    <table class="shedule">
        <tr>
            <td style="width: 140px" >8:00-8:30</td>
            <td>прием,осмотр</td>
        </tr>
        <tr>
            <td>8:30-8:45</td>
            <td>утренняя зарядка</td>
        </tr>
        <tr>
            <td>8:45-9:15</td>
            <td>завтрак</td>
        </tr>
        <tr>
            <td>9:15-9:30</td>
            <td>музыка</td>
        </tr>
        <tr>
            <td>9:30-9:45</td>
            <td>танцы</td>
        </tr>
        <tr>
            <td>9:45-10:00</td>
            <td>детская литература</td>
        </tr>
        <tr>
            <td>10:10-10:25</td>
            <td>грамота (чтение и письмо)</td>
        </tr>
        <tr>
            <td>10:25-10:35</td>
            <td>подвижные игры</td>
        </tr>
        <tr>
            <td>10:35-10:50</td>
            <td>основы математических представлений</td>
        </tr>
        <tr>
            <td>10:50-11:00</td>
            <td>окружающий мир (пн, ср, пт)/основы православной культуры (вт,чт)
            </td>
        </tr>
        <tr>
            <td>11:00-12:00</td>
            <td>прогулка</td>
        </tr>
        <tr>
            <td>12:00-12:30</td>
            <td>обед</td>
        </tr>
        <tr>
            <td>12:30-13:00</td>
            <td>изо деятельность</td>
        </tr>
        <tr>
            <td>13:00-13:30</td>
            <td>английский язык, игры</td>
        </tr>
        <tr>
            <td>13:30-15:30</td>
            <td>дневной сон</td>
        </tr>
        <tr>
            <td>15:30-16:00</td>
            <td>полдник</td>
        </tr>
        <tr>
            <td>16:00-17:50</td>
            <td>прогулка</td>
        </tr>
        <tr>
            <td>17:50-18:00</td>
            <td>возвращение с прогулки, уход детей домой</td>
        </tr>
    </table>
</div>



</div>
</div>  
</div>  
</div>
