---
title: Домашний детский сад "Долька". Детский сад в Сочи.
layout: base
---

<div id="slider_wrapper">
<div id="slider" class="clearfix">
<div id="camera_wrap">
  <div data-src="images/index/slide_krug.jpg">
    <div class="camera_caption fadeIn"> 
      Играем вместе
    </div>     
  </div>
  <div data-src="images/slide02.jpg">
    <div class="camera_caption fadeIn">
      Our work is the presentation<br>of our capabilities.
    </div>
  </div>

</div>  
</div>  
</div>

<div class="container">
<div class="row">
<div class="span12">
<div class="hl1"><img src="images/hl1.png" alt=""></div>  
</div>  
</div>  
</div>

<!--<div class="banners">-->
    <!--<div class="container">-->
        <!--<div class="row">-->

            <!--<div class="span4 banner banner2">-->
                <!--<div class="banner_inner">-->
                    <!--<div class="banner_title clearfix">-->
                        <!--<img src="images/ic2.png" alt="" class="ic">-->
                        <!--<div class="txt1">Наши занятия</div>-->
                    <!--</div>-->
                    <!--<div class="banner_txt clearfix">-->
                        <!--<ul class="ul0">-->
                            <!--<li><span>1.</span>Художественная литература</li>-->
                            <!--<li><span>2.</span>Окружающий мир</li>-->
                            <!--<li><span>3.</span>Основы православной культуры</li>-->
                            <!--<li><span>4.</span>Формирование математических представлений</li>-->
                            <!--<li><span>5.</span>Изо деятельность</li>-->
                            <!--<li><span>7.</span>Грамота</li>-->
                            <!--<li><span>8.</span>Физкультура и танцы</li>-->
                            <!--<li><span>9.</span>Музыка</li>-->
                        <!--</ul>-->
                        <!--<div class="banner_link"><a href="#" class="button1">узнать больше</a></div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div id="content">
<div class="container">
<div class="row">
<div class="span7">

  <h1 class="home">Добро пожаловать!</h1>

  <ul class="ul1">
      Наш детский сад работает по традиционной методике. В качестве основной программы воспитательно-образовательного процесса используется "Детство" (Санкт-Петербург). Кроме того, применяется авторская программа, для подготовки детей в лучшие школы и гимназии города. Особое внимание уделяется физическому и нравственному воспитанию детей, а так же разностороннему творческому развитию. Малая группа (до 10 человек) дает возможность использовать  индивидуальный подход, прививать навыки самообслуживания и любовь к труду. С учетом психологии детей дошкольного возраста, занятия проводятся в игровой форме.
  </ul>

</div>  
<div class="span5">


  <div class="thumb1">
    <div class="thumbnail clearfix">
      <figure class=""><img src="images/home01.png" alt=""></figure>      
    </div>
  </div>


</div>
</div>  
</div>  
</div>