---
title: Фото - Домашний детский сад "Долька"
layout: base
---

<div class="container">
    <div class="row">
        <div class="span12">
            <div class="hl1"><img src="images/hl1.png" alt=""></div>
        </div>
    </div>
</div>


<div id="content">
    <div class="container">
        <div class="row">
            <div class="span12">

                <ul class="thumbnails" id="isotope-items">
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/2E480FAF-DF53-48E6-ACF5-545FB9255C3E.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/2E480FAF-DF53-48E6-ACF5-545FB9255C3E.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Познаем окружающий мир. Сеем пшеницу
                                    </div>
                                </a>

                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter2">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/34BED680-FDF0-46D9-9D0D-250D353B452D.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/34BED680-FDF0-46D9-9D0D-250D353B452D.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Рисуем гуашью..
                                    </div>
                                </a>

                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/dance.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/dance.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Танцуем с радостью!
                                    </div>
                                </a>

                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/gramota.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/gramota.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Играя учимся писать и читать
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/math.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/math.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Первые шаги в увлекательный мир цифр...
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/izo.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/izo.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Готовим подарки к Рождеству
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/IMG_0218.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/IMG_0218.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Пасхальный утренник
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/IMG_1293.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/IMG_1293.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Сюжетно-ролевая игра "Магазин"
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/IMG_1296.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/IMG_1296.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Развиваем мелкую моторику
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>
                    <li class="span4 isotope-element isotope-filter1">
                        <div class="thumb-isotope">
                            <div class="thumbnail clearfix">
                                <a href="images/gallery/IMG_2096.JPG">
                                    <figure>
                                        <img src="images/gallery/thumbs/IMG_2096.JPG" alt=""><em></em>
                                    </figure>
                                    <div class="caption">
                                        Празднование Рождества и Нового года
                                    </div>
                                </a>
                    
                            </div>
                        </div>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>