---
title: Цены - Домашний детский сад "Долька"
layout: base
---

<div id="slider_wrapper">
<div id="slider" class="clearfix">
<img src="images/col_work.jpg" alt="" class="img">
</div>  
</div>

<div class="container">
<div class="row">
<div class="span12">
<div class="hl1"><img src="images/hl1.png" alt=""></div>
</div>  
</div>  
</div>


<div id="content">
<div class="container">
<div class="row">
<div class="span8">
  <h1>Услуги и цены</h1>
    <div class="block-content">
        <table class="price" cellspacing="0">
            <thead>
            <tr class="trHead" style="font-weight: bold;">
                <td>Услуги</td>
                <td>Режим</td>
                <td>Стоимость</td>
            </tr>
            </thead>
            <tbody>
            <tr class="eeeeee trTitle">
                <td class="first">Полный день</td>
                <td>8.00-18.00</td>
                <td>15 000 руб.</td>
            </tr>
            <tr class="eeeeee">
                <td colspan="3" class="tdDesc">
                    Вступительный взнос 5000 рублей.<p></p>
                    <ul>
                        <li>4-х разовое питание</li>
                        <li>2 прогулки в день</li>
                        <li>дневной сон</li>
                        <li>комплекс развивающих занятия ежедневно</li>
                        <li>5 занятий с музыкальным руководителем в неделю</li>
                    </ul>
                </td>
            </tr>
            <tr class="trTitle">
                <td class="first">Полдня</td>
                <td>8.00-13.00</td>
                <td>10000 руб.</td>
            </tr>
            <tr>
                <td colspan="3" class="tdDesc">
                    Вступительный взнос 5000 рублей.<p></p>
                    <ul>
                        <li>питание: завтрак, 2ой завтрак и обед</li>
                        <li>1 прогулка в день</li>
                        <li>комплекс развивающих занятий ежедневно</li>
                        <li>5 занятий с музыкальным руководителем в неделю</li>

                    </ul>
                </td>
            </tr>
            <tr class="eeeeee trTitle">
                <td class="first">Полдня</td>
                <td>13.00-18.00</td>
                <td>9 000 руб.</td>
            </tr>
            <tr class="eeeeee">
                <td colspan="3" class="tdDesc">
                    Вступительный взнос 5000 рублей.<p></p>
                    <ul>
                        <li>питание: полдник</li>
                        <li>1 прогулка в день</li>
                        <li>развивающие игры ежедневно</li>

                    </ul>
                </td>
            </tr>
            <tr class="trTitle">
                <td class="first">3 дня в неделю</td>
                <td>8.00-18.00</td>
                <td>10 000 руб.</td>
            </tr>
            <tr>
                <td colspan="3" class="tdDesc">
                    Вступительный взнос 5000 рублей.<p></p>
                    <ul>
                        <li>4-х разовое питание</li>
                        <li>2 прогулки в день</li>
                        <li>дневной сон</li>
                        <li>комплекс развивающих занятий ежедневно</li>
                        <li>5 занятий с музыкальным руководителем в неделю</li>
                    </ul>
                </td>
            </tr>
            <tr class="trTitle">
                <td class="first">2 дня в неделю</td>
                <td>8.00-18.00</td>
                <td>9 000 руб.</td>
            </tr>
            <tr>
                <td colspan="3" class="tdDesc">
                    Вступительный взнос 5000 рублей.<p></p>
                    <ul>
                        <li>4-х разовое питание</li>
                        <li>2 прогулки в день</li>
                        <li>дневной сон</li>
                        <li>комплекс развивающих занятий ежедневно</li>
                        <li>5 занятий с музыкальным руководителем в неделю</li>
                    </ul>
                </td>
            </tr>
            <tr class="trTitle">
                <td class="first">Почасовая оплата</td>
                <td>1 час</td>
                <td>150 руб.</td>
            </tr>
            <tr>
                <td colspan="3" class="tdDesc">
                    Без вступительного взноса.
                </td>
            </tr>
            </tbody>
        </table>
</div>
</div>
</div>  
</div>  
</div>
