<div class="bot1">
<div class="container">
<div class="row">
<div class="span12">
<div class="bot1_inner clearfix">
  <div class="menu_bot">
      <ul id="menu_bot" class="clearfix">
        <li><a href="index.html">о нас</a></li>
        <li><a href="price.html">цены</a></li>
        <li><a href="classes.html">занятия</a></li>
        <li><a href="photos.html">фото</a></li>
        <li><a href="contacts.html">контакты</a></li>
      </ul>
  </div>
  <img src="images/flowers1.png" alt="" class="flowers1">
</div>
</div>  
</div>  
</div>  
</div>

<footer>
<div class="container">
<div class="row">
<div class="span12">

</div>  
</div>  
</div>  
</footer>